@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
  position: relative;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
header {
  height: 350px;
}
@mixin containers($justify, $color) {
  display: flex;
  justify-content: $justify;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: $color;
  @content;
}
@mixin media-query($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
@mixin media-query($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
.front-page {
  background-image: url("./img/img-principal-ib.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  margin-top: 0;
  z-index: -1;
  position: fixed;
  top: 0;
}
.start {
  @include containers(center, #c8a27e);
  width: 100%;
  height: 30px;
}
.start div {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -15rem;
}
.star p {
  float: right;
  position: relative;
  margin-top: 0%;
  margin-right: 3%;
}
.icons {
  display: flex;
  right: 20px;
}
.icons svg {
  height: 25px;
  align-items: center;
  padding: 5px;
}
.img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.hamburger {
  position: fixed;
  background-color: transparent;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: invert(1);
}
@include media-query(760px) {
  .hamburger {
    display: none;
  }
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.menuppal {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: Verdadna, Arial, Helvetica;
  color: black;
  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;
  color: rgb(26, 24, 24);
  text-transform: none;
  font-weight: bold;
}
.menuppal ul li a {
  text-decoration: none;
  color: #369;
}
.menuppal ul li a:hover {
  text-decoration: none;
  color: #333;
}
.info1 {
  width: 40px;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.main-menu {
  list-style: none;
  margin-top: 10rem;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  transform: translateY(-100%);
  border-bottom: 2px solid white;
}

@media screen and (min-width: 200px) and (max-width: 499px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}
@media screen and (min-width: 500px) and (max-width: 1020px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}

.content-menu {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .content-menu {
    display: none;
  }
}

.main-menu_item {
  // hago padding para separar el texto
  padding: 1em;
}
.main-menu_link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.information1 {
  display: flex;
  flex-direction: column;
  height: 45px;
  background-color: #d2d3d5;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .information1 {
    display: none;
  }
}
.info1-menu {
  display: flex;
  margin-left: 111px;
  height: 30px;
  width: 420px;
}
.info1-menu_link {
  text-transform: uppercase;
  display: block;
}
.info1-menu_item {
  padding: 2rem;
  text-decoration: none;
  color: gray;
}
.information1 .info1-menu div .linev1 {
  position: absolute;
  top: 10%;
  border: none;
  border-left: 1px solid #73848c;
  height: 24px;
  width: 1px;
}

.information2 {
  height: 366px;
  width: 100%;
  background-color: rgb(150, 35, 40);
}
@media only screen and (max-width: 1024px) {
  .information2 {
    display: none;
  }
}

.content {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  @media screen  and (min-width:200px) and (max-width:650px) {
    width: 863px;
  }

  .img-parallax {
    // position: relative;
    @include containers(center, white) {
      width: 700px;
      margin-top: -15rem;
      margin-left: 112px;
    }
  }

  .notice1 {
    width: 100%;
    height: 1433px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  }
}
.line2 {
  padding: 0.3%;
  width: 90%;
  background-color: rgb(175, 175, 175);
}

@media screen and (min-width: 500px) {
  .img-parallax {
    width: 100%;
    margin: 0 auto;
    margin-top: -277px;
  }

  .notice1 {
    overflow: auto;
    // scroll-behavior: smooth;
  }
  .notice1 article {
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
  }
}
@media screen and (min-width: 200px) {
  .img-parallax {
    width: 100%;
    margin: 0 auto;
    margin-top: -277px;
  }

  .notice1 {
    overflow: auto;
    // scroll-behavior: smooth;
  }
  .notice1 article {
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
  }
}
@media screen and (min-width: 500px) {
  .img-parallax {
    width: 100%;
    margin: 0 auto;
    margin-top: -277px;
  }
  .img1-parallax {
    position: relative;
    margin-top: -5%;
    width: 100%;
  }
  .notice1 article {
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
  }
  .section-1 {
    margin: 0 auto;
    margin-top: 49px;
    width: 320px;
    background-color: rgb(240, 240, 240);
    @media screen  and (min-width:200px) and (max-width:650px) {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     
    }
    .social-networks {
      margin: 0 auto;
      text-align: center;
      height: 100px;
      width: 19vw;

      h4 {
        position: 0 auto;
      }
      .networks {
        font-size: 24px;
        .social-networks1 {
          
        }
      }
    }
    .themes {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      height: 185px;
      
      .btn {
        padding: 0%;
        border-radius: 5px;
        text-decoration: none;
      }
     
    }
    .lastest-articles {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      h3 {
        padding: 3px;
        background-color: #961928;
        color: white;
      }
    }
    .date-1 {
    }
  }
  
}
// @media screen and (min-width: 200px) and (max-width: 499px) {
//   .img-parallax {
//     width: 54.5%;
//     margin: 0 auto;
//     margin-top: -277px;
//     .line2 {
//       margin-top: 25%;
//     }
//     .news-topics-one {
//       text-align: center;
//       a {
//         padding: 0.2%;
//         text-decoration: none;
//       }
//     }
//   }
//   .img1-parallax {
//     position: relative;
//     margin-top: -5%;
//     width: 89%;
//   }
//   .notice1 article {
//     width: 100%;
//     position: relative;
//     margin: 0 auto;
//     font-size: 14px;
//   }

//   .section-1 {
//     overflow: auto;
//     margin: 0 auto;
//     margin-top: 49px;
//     width: 300px;
//     background-color: rgb(240, 240, 240);
//     .social-networks {
//       margin: 0 auto;
//       text-align: center;
//       height: 100px;
//       width: 19vw;

//       h4 {
//         position: 0 auto;
//       }
//       .networks {
//         font-size: 24px;
//         .social-networks1 {
//         }
//       }
//     }
//     .themes {
//       margin: 0 auto;
//       text-align: center;
//       width: 100%;
//       height: 185px;
//       .btn {
//         padding: 0%;
//         border-radius: 5px;
//         text-decoration: none;
//       }
//     }
//     .lastest-articles {
//       margin: 0 auto;
//       text-align: center;
//       width: 100%;
//       h3 {
//         padding: 3px;
//         background-color: #961928;
//         color: white;
//       }
//     }
//     .date-1 {
//     }
//   }
// }

// efectos para los botones de la noticia1
.button1 {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(176, 176, 176);
  color: rgb(171, 171, 171);
  width: 70px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button1:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(171, 171, 171);
  text-align: center;
  color: white;
  background-color: rgb(171, 171, 171);
  transition: all;
  transition-duration: 1.5s;
}
// end img parallax and notice1

.section-1 {
  margin: 0 auto;
  margin-top: 49px;
  width: 320px;
  background-color: rgb(240, 240, 240);
  .social-networks {
    margin: 0 auto;
    text-align: center;
    height: 100px;
    width: 19vw;
    @media screen  and (min-width:200px) and (max-width:650px) {
      margin-top: -151px;
    }

   
    h4 {
      position: 0 auto;
    }
    .networks {
      font-size: 24px;
      .social-networks1 {
        
        .fa-facebook {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-twitter {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-youtube-play {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-instagram {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-facebook:hover {
          color: white;
          background-color: #3b5998;
          padding: 1%;

          border-radius: 20%;
          margin-left: 1%;
        }
        .fa-twitter:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;
          border-radius: 70%;

          margin-left: 1%;
          background-color: #00acee;
        }
        .fa-youtube-play:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;
          border-radius: 70%;
          margin-left: 1%;

          background-color: rgb(150, 25, 40);
        }
        .fa-instagram:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;

          border-radius: 70%;
          margin-left: 1%;
          background-color: orange;
        }
      }
    }
  }
  .themes {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 185px;
    .btn {
      padding: 0%;
      border-radius: 5px;
      text-decoration: none;
    }
    @media screen  and (min-width:200px) and (max-width:650px) {
      margin-top: -350px;
    }
  }
  .lastest-articles {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    h3 {
      padding: 3px;
      background-color: #961928;
      color: white;
    }
    @media screen  and (min-width:200px) and (max-width:650px) {
      margin-top: -304px;
    }
  }
  .date-1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    div {
      display: block;
      float: left;
      img {
        display: inline-block;
      }
      p {
        display: inline-block;
      }
    }
    p {
      clear: both;
    }
    hr {
      width: 25%;
      margin-left: 14.2%;
    }
    @media screen  and (min-width:200px) and (max-width:650px) {
      margin-top: -300px;
    }
  }
}
//  end of section-1


// efecto parallax
.parallas,
.content,
.related,
.section-1,
.information3,
.information4,
.information5,
.information6 {
  margin: 0 auto;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

// responsive body
body {
  @media screen and (min-width: 200px) and (max-width: 499px) {
    position: relative;
    margin-top: 85.8%;
  }
  @media screen and (min-width: 500px) and (max-width: 1020) {
    position: relative;
    margin-top: 55.8%;
  }
  @media screen and (min-width: 1100px) {
    position: relative;
  }
}
//efectos para los botones de temas
.button {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  color: rgb(150, 35, 40);
  width: 110px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  text-align: center;
  color: white;
  background-color: rgb(150, 35, 40);
  transition: all;
  transition-duration: 1.5s;
}
.button1 {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(176, 176, 176);
  color: rgb(171, 171, 171);
  width: 70px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button1:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(171, 171, 171);
  text-align: center;
  color: white;
  background-color: rgb(171, 171, 171);
  transition: all;
  transition-duration: 1.5s;
}
.related {
  @include containers(left, none);

  background-color: white;
  position: relative;
  display: flex;
  height: 140px;
  // revisar
  @media screen  and (min-width:200px) and (max-width:499px) {
    padding-bottom: -112px;
  }
  @media screen  and (min-width:500px) and (max-width:1020px) {
    margin-top: -1px;
  }
}
.related .line3 {
  width: 20%;
  height: 5px;
  background-color: #962328;
  margin-top: 2.5%;
  color: red;
}
.related .line3 {
  color: #962328;
  background-color: #962328;
}
.related {
  div {
    display: block;
    h2 {
      position: absolute;
      left: 22%;
    }
    p {
      float: left;
      position: relative;
      margin-top: -1%;
      font-size: 3rem;
      opacity: 0.2;
    }
  }
}
.cars {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-bottom: 101px;
  @media screen  and (min-width:200px) and (max-width:650px) {
    margin-top: -117px;
  }
  @media screen  and (min-width:670px) and (max-width:1020px) {
    margin-top: -117px;
  }
}
.information3 {
  background-color: white;
  position: relative;
  display: flex;
  width: 600px;
  height: 349px;
  flex-wrap: wrap;
  align-content: space-around;

  -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  margin-left: 112px;
  margin-bottom: 40px;
  .blog1 {
    position: relative;
    background-color: black;
    margin: 0 auto;
  }

  .section-info3 {
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
  .section-info3 p {
    position: relative;
    margin-top: 25px;
  }
  @media screen and (min-width: 200px) and (max-width: 499px) {
    font-size: 14px;
    width: 50%;

    .blog1 {
      position: relative;
      background-color: black;
      width: 300px;
    }

    .section-info3 {
      position: relative;
      width: 200px;
      margin: 0 auto;
    }
    .section-info3 h2 {
      margin-top: 40px;
    }
    .section-info3 p {
      position: relative;
      margin-top: 25px;
    }
  }
  //query de 200 px a 499px
  @media screen and (min-width: 500px) and (max-width: 1020px) {
    font-size: 14px;
    width: 700px;
    margin-left: 112px;
    margin-top: 112px;
    .blog1 {
      position: relative;
      background-color: black;
      margin: 0 auto;
    }

    .section-info3 {
      position: relative;
      width: 50%;
      margin: 0 auto;
    }
    .section-info3 p {
      position: relative;
      margin-top: 25px;
    }
  }
} //end information3

.information4 {
  background-color: white;
  height: 349px;
  -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  width: 600px;
  margin-left: 112px;
  margin-bottom: 50px;
  .section-info4 {
    width: 90%;
    margin: 0 auto;
  }
  .date {
    display: block;
    img {
      display: inline-block;
    }
    p {
      display: inline-block;
      color: gray;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 499px) {
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 500px) and (max-width: 1020px) {
    width: 750px;
    margin-left: 112px;
    margin-top: 112px;
  }
}
.cars2 {
  width: 100%;
  background-color: white;
  margin-top: -41px;
}
.information5 {
  @include containers(center, white);
  height: 230px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  height: 230px;
  margin-top: 40px;
}
.information6 {
  @include containers(center, #362d28);
  height: 65vh;
  h3 {
    display: inline-block;
    width: 163px;
    display: inline-block;
    text-align: center;
    color: white;
  }
  .footer-line1 {
    width: 100%;
    display: inline-block;
    background-color: white;
  }
  .footer-line2 {
    width: 100%;
    background-color: white;
    display: inline-block;
    margin-top: 2%;
  }
  .line-vertical {
    width: 100%;
  }
  .line-ver {
    width: 100%;
    margin-top: 1rem;
    .line-vertical {
      color: white;
      background-color: white;
    }
  }
  .information7 {
    width: 100%;
    position: relative;
    background-color: rgb(54, 45, 40);
    margin-top: 77px;
    .contact {
      display: block;
      text-align: center;
    }
  }
  .information8 {
    width: 90%;
    position: relative;
    background-color: rgb(54, 45, 40);
    height: 240px;
    text-align: center;
    .contact-form {
      margin-left: 0%;
      margin: 0 auto;
      width: 100%;
    }
    .nombre,
    .email {
      width: 90%;
      height: 33px;
      margin-top: 3%;
    }
    .texto {
      width: 90%;
      height: 44px;
      margin-top: 3%;
    }
    #_contact-form {
      margin-top: 2%;
    }
  }
  .information9 {
    // display: flex;
    // justify-content: center;
    width: 100%;
    position: relative;
    font-size: 14px;
    background-color: rgb(54, 45, 40);
    height: 200px;
    .contact-information {
      color: white;
      table {
        margin: 0 auto;
      }
    }
  }
  .information10 {
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    .social-networks11 {
      font-size: 36px;
      .fa-facebook {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-twitter {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-youtube-play {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-instagram {
        color: white; //#3f729b ;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-facebook:hover {
        color: #3b5998;
        background-color: white;
        padding: 1%;
        border: solid;
        border-radius: 50%;
        margin-left: 1%;
      }
      .fa-twitter:hover {
        color: #00acee;
        margin-left: 1%;
        padding: 1%;
        border-radius: 70%;
        border: solid;
        margin-left: 1%;
        background-color: white;
      }
      .fa-youtube-play:hover {
        color: rgb(150, 25, 40); //red;
        margin-left: 1%;
        padding: 1%;
        border-radius: 70%;
        margin-left: 1%;
        border: solid;
        background-color: white;
      }
      .fa-instagram:hover {
        color: orange; //#3f729b ;
        margin-left: 1%;
        padding: 1%;
        border: solid;
        border-radius: 70%;
        margin-left: 1%;
        background-color: white;
      }
    }
  } //query 200px

  margin-top: 5%;
  height: 65vh;
  h3 {
    display: inline-block;
    width: 163px;
    display: inline-block;
    text-align: center;
    color: white;
  }
  .footer-line1 {
    width: 365px;
    display: inline-block;
    background-color: white;
    margin-top: 2%;
  }
  .footer-line2 {
    width: 365px;
    background-color: white;
    display: inline-block;
    margin-top: 2%;
  }
  .line-vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
  }
  .line-ver {
    width: 2%;
    height: 150px;
    .line-vertical {
      height: 150px;
      color: white;
      background-color: white;
    }
  }
  .information7 {
    width: 100%;
    position: relative;
    background-color: rgb(54, 45, 40);
    margin-top: 77px;
    .contact {
      display: block;
      text-align: center;
    }
  }
  .information8 {
    width: 100%;
    position: relative;
    background-color: rgb(54, 45, 40);
    height: 400px;
    text-align: center;
    .contact-form {
      width: 100%;
      margin-top: 3%;
    }
    .nombre,
    .email {
      width: 365px;
      height: 43px;
      margin-top: 3%;
    }
    .texto {
      width: 365px;
      height: 84px;
      margin-top: 3%;
    }
    #_contact-form {
      margin-top: 2%;
      margin-left: -65%;
    }
  }
  .information9 {
    // display: flex;
    // justify-content: center;
    width: 49%;
    position: relative;
    font-size: 14px;
    background-color: rgb(54, 45, 40);
    height: 400px;
    .contact-information {
      color: white;
      margin-right: 30%;
      margin-left: 0%;
      margin-top: 10%;
    }
  }
  .information10 {
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    .social-networks11 {
      font-size: 36px;
      .fa-facebook {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-twitter {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-youtube-play {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-instagram {
        color: white;
        margin-left: 1%;
        padding: 1%;
      }
      .fa-facebook:hover {
        color: #3b5998;
        background-color: white;
        padding: 1%;
        border: solid;
        border-radius: 50%;
        margin-left: 1%;
      }
      .fa-twitter:hover {
        color: #00acee;
        margin-left: 1%;
        padding: 1%;
        border-radius: 70%;
        border: solid;
        margin-left: 1%;
        background-color: white;
      }
      .fa-youtube-play:hover {
        color: rgb(150, 25, 40);
        margin-left: 1%;
        padding: 1%;
        border-radius: 70%;
        margin-left: 1%;
        border: solid;
        background-color: white;
      }
      .fa-instagram:hover {
        color: orange;
        margin-left: 1%;
        padding: 1%;
        border: solid;
        border-radius: 70%;
        margin-left: 1%;
        background-color: white;
      }
    }
  }
} //end information6
.red-footer {
  height: 113px;
  width: 100%;
  background-color: rgb(150, 25, 40);
}
.end-footer {
  height: 47px;
  width: 100%;
  background-color: black;
  display: block;
  text-align: center;
  div {
    p {
      display: inline-block;
      color: white;
    }
    img {
      display: inline-block;
      width: 57px;
    }
  }
}

//leer mas y ver mas
.boton1 {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  color: rgb(150, 35, 40);
  width: 110px;
  height: 50px;
  text-align: center;
  background-color: white;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  text-decoration: none;
}
.boton1:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  text-align: center;
  color: white;
  background-color: rgb(150, 35, 40);
  transition: all;
  transition-duration: 1.5s;
}
.boton {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  color: rgb(150, 35, 40);
  width: 110px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
  text-decoration: none;
}
.boton:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  text-align: center;
  color: white;
  background-color: rgb(150, 35, 40);
  transition: all;
  transition-duration: 1.5s;
  text-decoration: none;
}

//modales

.header-modal {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.modal-flex {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
}
.header-modal {
  width: 100%;
  height: 50%;
}
.modal-paragraph {
  text-align: center;
  img {
    height: 250px;
    margin-top: 40px;
    border-radius: 5%;
  }
}
.texts {
  text-align: justify;
  padding: 0 40px;
}
/*Efecto*/

.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity: 1;
  pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox {
  width: 600px;
  position: relative;

  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  text-align: center;
}

/*Movimientos*/
.movedown {
  margin: 0 auto;
}

.modalmask:target .movedown {
  margin: 10% auto;
}

/*Boton de cerrar*/
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

.close:hover {
  background: #faac58;
  color: #222;
}
