@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
  position: relative;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
header {
  height: 350px;
}
@mixin containers($color, $justify) {
  display: flex;
  justify-content: $justify;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: $color;
  @content;
}
@mixin media-query($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
.front-page {
  background-image: url("./img/img-principal-ib.jpg");
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  margin-top: 0;
  z-index: -1;
  position: fixed;
  top: 0;
}
.start {
  @include containers(#c8a27e, center);
  width: 100vw;
  height: 30px;
}
.start div {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -15rem;
}
.star p {
  float: right;
  position: relative;
  margin-top: 0%;
  margin-right: 3%;
}
.icons {
  display: flex;
  right: 20px;
}
.icons svg {
  height: 25px;
  align-items: center;
  padding: 5px;
}
.img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.hamburger {
  position: fixed;
  background-color: transparent;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: invert(1);
}
@include media-query(760px) {
  .hamburger {
    display: none;
  }
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.menuppal {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: Verdadna, Arial, Helvetica;
  color: black;
  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;
  color: rgb(26, 24, 24);
  text-transform: none;
  font-weight: bold;
}
.menuppal ul li a {
  text-decoration: none;
  color: #369;
}
.menuppal ul li a:hover {
  text-decoration: none;
  color: #333;
}
.info1 {
  width: 40px;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.main-menu {
  list-style: none;
  margin-top: 10rem;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  transform: translateY(-100%);
  border-bottom: 2px solid white;
}

@include media-query(650px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 700px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 400px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}

.content-menu {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .content-menu {
    display: none;
  }
}

.main-menu_item {
  // hago padding para separar el texto
  padding: 1em;
}
.main-menu_link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.information1 {
  display: flex;
  flex-direction: column;
  height: 45px;
  background-color: #d2d3d5;
  position: relative;
  justify-content: flex-start;
  width: 100vw;
  flex-wrap: wrap;
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .information1 {
    display: none;
  }
}
.info1-menu {
  display: flex;
  margin-left: 111px;
  height: 30px;
  width: 420px;
}
.info1-menu_link {
  text-transform: uppercase;
  display: block;
}
.info1-menu_item {
  padding: 2rem;
  text-decoration: none;
  color: gray;
}
.information1 .info1-menu div .linev1 {
  position: absolute;
  top: 10%;
  border: none;
  border-left: 1px solid #73848c;
  height: 24px;
  width: 1px;
}

.information2 {
  height: 366px;
  width: 100vw;
  background-color: rgb(150, 35, 40);
}
@media only screen and (max-width: 1024px) {
  .information2 {
    display: none;
  }
}

.content {
  // background-color: white;
  position: relative;

  .img-parallax {
    @include containers(white, center) {
      width: 700px;
      margin-top: -15rem;
      margin-left: 112px;
      position: absolute;
      top: 0;
    }
  }

  .notice1 {
    width: 100%;
    height: 1433px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.75);
  }
}
.line2 {
  padding: 0.3%;
  width: 90%;
  background-color: rgb(175, 175, 175);
}

@include media-query(650px) {
  .img-parallax {
    width: 100%;
    margin: 0 auto;
    margin-top: -277px;
    position: absolute;
    top: 0;
  }

  .notice1 {
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .notice1 article {
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
  }
}
// efectos para los botones de la noticia1
.button1 {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(176, 176, 176);
  color: rgb(171, 171, 171);
  width: 70px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button1:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(171, 171, 171);
  text-align: center;
  color: white;
  background-color: rgb(171, 171, 171);
  transition: all;
  transition-duration: 1.5s;
}
// end img parallax and notice1

.section-1 {
  margin: 0 auto;
  margin-top: 49px;
  // display: flex;
  //justify-content: space-between;
  width: 320px;
  background-color: rgb(240, 240, 240);
  .social-networks {
    margin: 0 auto;
    text-align: center;
    height: 100px;
    width: 26vw;
    // margin-top: 30px;

    h4 {
      position: 0 auto;
    }
    .networks {
      font-size: 24px;
      .social-networks1 {
        .fa-facebook {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-twitter {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-youtube-play {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-instagram {
          color: rgb(150, 25, 40);
          margin-left: 1%;
          padding: 1%;
        }
        .fa-facebook:hover {
          color: white;
          background-color: #3b5998;
          padding: 1%;

          border-radius: 20%;
          margin-left: 1%;
        }
        .fa-twitter:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;
          border-radius: 70%;

          margin-left: 1%;
          background-color: #00acee;
        }
        .fa-youtube-play:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;
          border-radius: 70%;
          margin-left: 1%;

          background-color: rgb(150, 25, 40);
        }
        .fa-instagram:hover {
          color: white;
          margin-left: 1%;
          padding: 1%;

          border-radius: 70%;
          margin-left: 1%;
          background-color: orange;
        }
      }
    }
  }
  .themes {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 185px;
    .btn {
      padding: 0%;
      border-radius: 5px;
      text-decoration: none;
    }
  }
}
//  end of section-1

@media only screen and (min-width: 200px) {
  .section-1 {
    background-color: #f0f0f0;
  }
}

// efecto parallax
.parallas,
.content {
  margin: 0 auto;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

// responsive body
body {
  @include media-query(200px) {
    position: relative;
    margin-top: 85.8%;
  }
  @include media-query(500px) {
    position: relative;
    margin-top: 55.8%;
  }
  @include media-query(1100px) {
    position: relative;
    margin-top: 25.8%;
  }
}

.button {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  color: rgb(150, 35, 40);
  width: 110px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(150, 35, 40);
  text-align: center;
  color: white;
  background-color: rgb(150, 35, 40);
  transition: all;
  transition-duration: 1.5s;
}
.button1 {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(176, 176, 176);
  color: rgb(171, 171, 171);
  width: 70px;
  height: 50px;

  text-align: center;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
}
.button1:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(171, 171, 171);
  text-align: center;
  color: white;
  background-color: rgb(171, 171, 171);
  transition: all;
  transition-duration: 1.5s;
}
